/*-----------  Fonts  -----------*/

$bodyFontFamily : 'lato', sans-serif
$bodyFontWeight : 300

$headerFontFamily : 'effra', sans-serif
$headerFontWeight : 500

/*-----------  Body Font Mixin  -----------*/

@mixin body-font($italic: false)
  font-style: normal
  font-family: $bodyFontFamily
  font-weight: $bodyFontWeight

  @if $italic
    font-style: italic
  @else
    font-style: normal

/*-----------  Header Font Mixin  -----------*/

@mixin header-font($italic: false)
  font-style: normal
  font-family: $headerFontFamily
  font-weight: $headerFontWeight

  @if $italic
    font-style: italic
  @else
    font-style: normal

/*-----------  Weight Corrections  -----------*/

@mixin antialiased($smooth: true)
  @if $smooth
    @include prefixer(font-smoothing, antialiased, webkit moz ms o spec)
  @else
    @include prefixer(font-smoothing, subpixel-antialiased, webkit moz ms o spec)

/*-----------  Icon Mixin  -----------*/

@mixin use-icon($content: '')
  content: $content
  font-family: 'rifird'
  @include transition()

/*-----------  Icon Fonts  -----------*/

@font-face
  font-family: "rifird"
  src: url("../fonts/rifird.eot")
  src: url("../fonts/rifird.eot?#iefix") format("embedded-opentype"), url("../fonts/rifird.woff") format("woff"), url("../fonts/rifird.ttf") format("truetype"), url("../fonts/rifird.svg#rifird") format("svg")
  font-weight: normal
  font-style: normal

[data-icon]:before
  speak: none
  line-height: 1
  font-family: "rifird" !important
  content: attr(data-icon)
  font-style: normal !important
  font-weight: normal !important
  font-variant: normal !important
  text-transform: none !important
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

[class^="icon-"]:before, [class*=" icon-"]:before
  speak: none
  line-height: 1
  font-family: "rifird" !important
  font-style: normal !important
  font-weight: normal !important
  font-variant: normal !important
  text-transform: none !important
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-logo:before
  content: "d"

.icon-twitter:before
  content: "e"

.icon-facebook:before
  content: "f"

.icon-spin:before
  content: "h"
  margin-right: 0
  @include animation(spin 2s ease-in-out infinite)
