<section class="about">
  <section class="bio">
    <h3>No Name Stringband</h3>
    <p>The No Name Stringband is a collective of Madison-area musicians lead by claw-hammer banjo player Brian Zimmerman & guitarist Matt Manske.</p>
    <p>They combine a broad understanding of traditional Appalachian old-time music with a slew of original acoustic compositions. The music ranges from fiddle-led, foot-stomping barn dances to slower, introspective classical-bluegrass numbers.</p>
  </section>
</section>

<section class="links">
  <a class="button facebook" href="https://www.facebook.com/NoNameStringband" target="_blank">
    <i class="icon-facebook-circled"></i>
    Like us on Facebook
  </a>

  <a class="button soundcloud" href="https://soundcloud.com/nonamestringband" target="_blank">
    <i class="icon-soundcloud-circled"></i>
    Follow us on Soundcloud
  </a>

  <a class="button youtube" href="https://www.youtube.com/channel/UCO_TJuPAg5bATl3ehaxUREQ" target="_blank">
    <i class="icon-youtube-play"></i>
    Watch us on Youtube
  </a>

  <a class="button spotify" href="https://soundcloud.com/nonamestringband" target="_blank">
    <i class="icon-spotify-circled"></i>
    Stream us on Spotify
  </a>
</section>
