<section class="main">
  <h4>Next Show!</h4>
  <section class="show">
    <h4>{{ model.date }} • {{ model.time }}</h4>
    <h3>{{#link-to 'shows.show' model.id animations="inside:fade"}}{{ title }}{{/link-to}}</h3>
    <h5>{{ model.location }}</h5>
    {{#link-to-animated 'shows' classNames="button" animations="main:slideUp"}}<i class="icon-calendar"></i>See all upcoming shows{{/link-to-animated}}
  </section>

  <section class="new-album" style="background-image:url('/img/album.png');">
    <h3>New Double-Disc!</h3>
    <p>Includes one disc of origional content and one disc of traditional music. Live tracked during a two-day summer session at a barn in the rolling hills of Mt. Horeb, Wisconsin. Physical album is a hand-printed wood-cut designed by Rachael Griffin.</p>
    
    <a class="button" href="http://nonamestringband.bandcamp.com/album/no-name-stringband-physical-cd">
      <i class="icon-cd"></i>
      Order Physical Copy
    </a>
    <a class="button" href="http://nonamestringband.bandcamp.com/">
      <i class="icon-download-cloud"></i>
      Digital Download
    </a>
  </section>
</section>

<section class="links">
  <a class="button email" href="mailto:nonamestringband@gmail.com" target="_blank">
    <i class="icon-paper-plane-alt"></i>
    Email us!
  </a>
  <br>
  <a class="button facebook" href="https://www.facebook.com/NoNameStringband" target="_blank">
    <i class="icon-facebook-circled"></i>
    Like on Facebook
  </a>
  <br>
  <a class="button soundcloud" href="https://soundcloud.com/nonamestringband" target="_blank">
    <i class="icon-soundcloud-circled"></i>
    Follow on Soundcloud
  </a>
  <br>
  <a class="button youtube" href="https://www.youtube.com/channel/UCO_TJuPAg5bATl3ehaxUREQ" target="_blank">
    <i class="icon-youtube-play"></i>
    Watch on Youtube
  </a>
  <br>
  <a class="button spotify" href="https://soundcloud.com/nonamestringband" target="_blank">
    <i class="icon-spotify-circled"></i>
    Stream on Spotify
  </a>
</section>
