<section class="main">
  <section class="new-album" style="background-image:url('/img/album.png');">
    <h3>NNSB (2-Disc Set)</h3>
    <h6>Released Feb. 8th, 2014</h6>
    <p>Includes one disc of origional content and one disc of traditional music. Live tracked during a two-day summer session at a barn in the rolling hills of Mt. Horeb, Wisconsin. Physical album is a hand-printed wood-cut designed by Rachael Griffin.</p>
  </section>
</section>

<section class="links">
  <a class="button" href="http://nonamestringband.bandcamp.com/album/no-name-stringband-physical-cd">
    <i class="icon-cd"></i>
    Order Physical Copy
  </a>
  <a class="button" href="http://nonamestringband.bandcamp.com/">
    <i class="icon-download-cloud"></i>
    Digital Download
  </a>

  <a class="button spotify" href="https://soundcloud.com/nonamestringband" target="_blank">
    <i class="icon-spotify-circled"></i>
    Stream on Spotify
  </a>
</section>
