<section class="videos">
  <div class="video">
    <iframe width="100%" height="315" src="//www.youtube.com/embed/stojkFiRHZ8" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="video">
    <iframe width="100%" height="315" src="//www.youtube.com/embed/SHpWXKC7dEw" frameborder="0" allowfullscreen></iframe>
  </div>
</section>

<section class="requests">
  <a class="button" href="mailto:nonamestringband@gmail.com?subject=Here's%20a%20Video" target="_blank">
    <i class="icon-paper-plane"></i>
    Send us your Videos
  </a>

  <a class="button youtube" href="https://www.youtube.com/channel/UCO_TJuPAg5bATl3ehaxUREQ" target="_blank">
    <i class="icon-youtube-play"></i>
    Watch on Youtube
  </a>
</section>