---
title: Index
---

/*-----------  Hero  -----------*/

section.hero
  
  .bounds-wrapper

    div style="background-image:url(#{image_path('phone_sm.jpg')});"
      .logo-block
        = image_tag 'logo_sm.png'
        span Referrals made easy

      h1 Generate authentic and immediate referrals.
      p 
        | 84% of people trust referrals from their friends and family. 
        br
        | Make it easy for your customers to spread the word. 
      a.button href='#signup' Sign up for free

    div
      = image_tag 'phone_sm.jpg'

/*-----------  Video  -----------*/

section.video

  .bounds-wrapper

    div style="background-image:url(#{image_path('video_sm.jpg')});"
      a.button.alt.modal-link Watch our video

    div
      h3 Beyond Loyalty
      p Unlike a loyalty program, Rifird gives your happy customers an easy way to refer their friends and bring in new business. So don’t just reward someone for walking through the door - grow your company by capitalizing on the power of referral marketing. Membership is free!
      a.button.alt.modal-link Watch our video

/*-----------  How It Works  -----------*/

section.hiw

  h3 How It Works

  .bounds-wrapper

    div
      = image_tag 'hiw_1_sm.png'
      h4 Set Up Account
      p Get on board in just a few clicks. We'll help you, step by step, to determine what will work best for your goals.

    div
      = image_tag 'hiw_2_sm.png'
      h4 Share QR Code
      p We’ll give you a unique Rifird QR code to share with your best customers. Put it on brochures, menus, receipts, etc.
    
    div
      = image_tag 'hiw_3_sm.png'
      h4 Sit Back & Relax
      p Your customers do all the work - referring your business to their friends and family through our app. All for free!

/*-----------  Signup  -----------*/

section#signup

  form.bounds-wrapper

    h4 Never miss out on a referral. It’s easy to set up and free to use!
    h6 Fill out the fields below and we’ll be in touch within 48 hours.

    /! real people should not fill this in and expect good things - do not remove this or risk form bot signups
    div style=("position: absolute; left: -5000px;") 
      input name="b_a73775c281ff7645c2e1c94db_d6f8a4fca1" tabindex="-1" type="text" value="" /

    .input-wrapper
      input#mce-NAME.required name="NAME" type="text" value="" placeholder="Full Name" /
      input#mce-BUSIENESS.required name="BUSINESS" type="text" value="" placeholder="Business Name" /
      input#mce-EMAIL.required.email name="EMAIL" type="email" value="" placeholder="Email Address" /
      input#mce-PHONE.required name="PHONE" type="text" value="" placeholder="Phone NUmber" /

    input.button.alt name="subscribe" type="submit" value="Submit"

/*-----------  Call To Action  -----------*/

/ section.cta

/   .bounds-wrapper

/     div

/       h5 
/         | Want to see it in action? 
/         a href="" Download the app
/         |  and scan this QR code.

/       .qr-wrapper

/         = image_tag 'qr_code_sm.png'

/*-----------  Footer  -----------*/

section.footer

  .bounds-wrapper

    div

      a href="mailto:" Contact Us

    div

      a.twitter-link href=""
        i.icon-twitter-circled

      a.facebook-link href=""
        i.icon-facebook-circled
